.gridcontainer::before,
.container.bloc-sm::before{
    display: none;
}
.gridcontainer,
.container.bloc-sm{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.gridcontainer > .col-sm-4,
.container.bloc-sm > .col-sm-4{
    width: 100%;
}

@media (max-width : 767px) {
    .gridcontainer,
    .container.bloc-sm{
        grid-template-columns: 1fr;
    }
}

h3.mg-md{
    color:rgba(0,0,0,.6);
}
h3.mg-md:hover{
    color:#000;
}

.panel-heading.bgc-white,
.panel-heading.bgc-dark-jungle-green {
    padding: 20px;
}

.panelImageContainer{
    width: 100%;
    position: relative;
    display: flex;
}


.panelImageContainer:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.panelImageContainer img{
    display: none;
}

.panelImageContainer{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.featuredIcons::before{
    display: none;
}

.featuredIcons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.featuredIcons .featuredIconContainer{
    width: 100%;
    padding: 40px;
}

.featuredIconContainer .mobileImage{
    display: none;
}

@media (max-width : 767px) {
    .featuredIcons{
        grid-template-columns: 1fr;
    }
    .featuredContainer .featuredIcons{
        grid-template-columns: 1fr 1fr;
    }
    .featuredIcons .panelImageContainer{
        display: none;
    }
    .featuredIconContainer .mobileImage{
        display: block;
        width: 100%;
    }
    #page-head p{
        /* font-size: 1.6rem; */
    }
}

.featuredIconContainer .panelImageContainer p{
    /* color: rgb(201, 201, 201); */
    visibility: hidden;
}

