.container.bloc-sm::before{
    display: none;
}
.container.bloc-sm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container.bloc-sm > .col-sm-4{
    width: 100%;
}

@media (max-width : 767px) {
    .container.bloc-sm{
        grid-template-columns: 1fr;
    }
}

